/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins" , sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
    background: #EEECEB;
  }

.max-width{
    max-width: 1300px;
    padding: 0 60px;
    margin: auto;
}

/*navbar Styling*/
.navbar{
    position: fixed;
    width: 100%;
    padding: 35px 0;
    background: rgb(234, 174, 0);
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: rgb(234, 174, 0);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a img{
height: 60px;
width: 250px;
display: flex;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-left: 40px;
    transition: color 0.3s ease;

}
.navbar .menu li a:hover{
    color: rgb(0, 192, 203);
}
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/*Home section*/

.home{
    display: flex;
    background: rgb(254, 196, 0) no-repeat;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 67px;
    font-weight: 500;
    margin-left: -3px;
}
.home .home-content .text-2{
    font-size: 67px;
    font-weight: 500;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 37px;
    
}

.home .home-content .portada img{
   height: 450px;
   width: 400px;
   object-fit: fill;
   display: flex;
   margin-top: -500px;
   margin-left: 1000px;
   
}

.home .home-content .bt-1 button{
    height: 50px;
    width: 180px;
    object-fit:cover;
    margin-top: 80px;
}
/*about-------------*/

.about{
    display: block;
    background: #fff;
    height: 100vh;
    color: #111;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.about .about-content .title{
    font-size: 37px;
    font-weight: 500;
    margin-left: 500px;
    margin-top: 0px;;
    display: block;

}

.about .about-content .text-1{
    font-size: 57px;
    font-weight: 500;
    margin-left: -3px;
    margin-top: 200px;
}

.about .about-content .text-2{
    font-size: 27px;
}
.about .about-content .bt-about{
    height: 160px;
    width: 280px;
}

.about .about-content .video{
    display: flex;
    margin-left: 680px;
    margin-top: -400px;
}
.about .about-content .cuadrado{
    background: rgb(234, 174, 0);
    height: 250px;
    width: 250px;
    display: flex;
    margin-left: 640px;
    margin-top: -200px;

}

/*services------------------------*/

.services{
    display: block;
    background: rgb(254, 196, 0);
    height: 125vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.services .services-content .title{
    display: inline-block;
    font-size: 70px;
    font-weight: 500;
    margin-left: 40%;
    margin-top:80px;
    
}

.services .services-content .text-1{
    display: inline-block;
    font-size: 27px;
    margin-left: 10%;
    margin-top: 20px;
}

.services .services-content .card{
    width: 300px;
    height: 350px;
    display: inline-block;
    margin-top: 100px;
    object-fit: fill;
    margin-left: 70px;
}
.services .services-content .card img{
    width: 295px;
    height: 345px;
}
.services .services-content .card .text-card{
    display: block;
    font-size: 40px;
    text-align: center;
}
.services .services-content .card .text-card2{
    font-size:25px;
    text-align: center;
}

.services-2{
    display: block;
    background: #fff;
    height: 125vh;
    color: #111;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.services-2 .services-2-content .video{
    display: flex;
    margin-top: 280px;
    
    
}
.services-2 .services-2-content .cuadrado{
    width: 300px;
    height: 300px;
    background: rgb(234, 174, 0);
    display: flex;
    margin-left: 350px;
    margin-top: -250px;
}
.services-2 .services-2-content .text-1{
    font-size: 47px;
    font-weight: 500;
    margin-left: 800px;
    margin-top: -500px;
    display: flex;
    text-align: center;
}
.services-2 .services-2-content .text-2{
    font-size: 27px;
    display: flex;
    margin-left: 800px;
    text-align: center;
    
}
.services-3{
    display: block;
    background: rgb(254, 196, 0);
    height: 125vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.services-3 .services-content .title{
    display: inline-block;
    font-size: 70px;
    font-weight: 500;
    margin-left: 40%;
    margin-top:80px;
    
}

.services-3 .services-content .text-1{
    display: inline-block;
    font-size: 27px;
    margin-left: 10%;
    margin-top: 20px;
}

.services-3 .services-content .card{
    width: 300px;
    height: 350px;
    display: inline-block;
    margin-top: 100px;
    object-fit: fill;
    margin-left: 70px;
}
.services-3 .services-content .card img{
    width: 295px;
    height: 345px;
}
.services-3 .services-content .card .text-card{
    display: block;
    font-size: 40px;
    text-align: center;
}
.services-3 .services-content .card .text-card2{
    font-size:25px;
    text-align: center;
}

.services-4{
    display: block;
    background: #fff;
    height: 125vh;
    color: #111;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.services-4 .services-content .title{
    display: inline-block;
    font-size: 70px;
    font-weight: 500;
    margin-left: 30%;
    margin-top:80px;
    text-align: center;
    
}

.services-4 .services-content .text-1{
    display: inline-block;
    font-size: 27px;
    margin-left: 10%;
    margin-top: 20px;
}

.services-4 .services-content .card{
    width: 300px;
    height: 350px;
    display: inline-block;
    margin-top: 100px;
    object-fit: fill;
    margin-left: 70px;
}
.services-4 .services-content .card img{
    width: 295px;
    height: 345px;
}
.services-4 .services-content .card .text-card{
    display: block;
    font-size: 27px;
    text-align: center;
}
.services-4 .services-content .card .text-card2{
    font-size:20px;
    text-align: center;
}

.banner{
    display: block;
    background: rgb(254, 196, 0);
    height: 70vh;
    color: #fff;
    min-height: 500px;

   
}

.banner .banner-content .banlogo {
    display: flex;
    margin-top: 100px;
    object-fit: fill;
    margin-left: 100px; 
   
}

.banner .banner-content .banlogo .banner-logo{
    display: flex;
    margin-top: 100%;
    margin-left: 500px;
}





.services-5{
    display: block;
    background: #fff;
    height: 125vh;
    color: #111;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.services-5 .services-content .title{
    display: inline-block;
    font-size: 70px;
    font-weight: 500;
    margin-left: 30%;
    margin-top:80px;
    text-align: center;
    
}

.services-5 .services-content .text-1{
    display: inline-block;
    font-size: 27px;
    margin-left: 10%;
    margin-top: 20px;
}

.services-5 .services-content .card{
    display: inline-block;
    margin-top: 100px;
    object-fit: fill;
    margin-left: 70px;

}
/*Footer-----------*/

footer{
    background: #25242b;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
  }
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
    width: 100%;
  }
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .content .top .logo-details{
    color: #fff;
    font-size: 30px;
  }
  .content .top .media-icons{
    display: flex;
  }
  .content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .top .media-icons a:nth-child(1){
    background: #4267B2;
  }
  .top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: #fff;
  }
  .top .media-icons a:nth-child(2){
    background: #1DA1F2;
  }
  .top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;
  }
  .top .media-icons a:nth-child(3){
    background: #E1306C;
  }
  .top .media-icons a:nth-child(3):hover{
    color: #E1306C;
    background: #fff;
  }
  .top .media-icons a:nth-child(4){
    background: #0077B5;
  }
  .top .media-icons a:nth-child(4):hover{
    color: #0077B5;
    background: #fff;
  }
  .top .media-icons a:nth-child(5){
    background: #FF0000;
  }
  .top .media-icons a:nth-child(5):hover{
    color: #FF0000;
    background: #fff;
  }
  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .content .link-boxes .input-box{
    margin-right: 55px;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #25242b;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    color: #AFAFB6;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover{
    opacity: 1;
  }
  footer .bottom-details{
    width: 100%;
    background: #25242b;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }
  @media (max-width: 900px) {
    footer .content .link-boxes{
      flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box{
      width: 40%;
      margin-top: 10px;
    }
  }
  @media (max-width: 700px){
    footer{
      position: relative;
    }
    .content .top .logo-details{
      font-size: 26px;
    }
    .content .top .media-icons a{
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: 12px;
    }
  }
  @media (max-width: 520px){
    footer::before{
      top: 145px;
    }
    footer .content .top{
      flex-direction: column;
    }
    .content .top .media-icons{
      margin-top: 16px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 100%;
    }
  }
  




/*.home .home-content .bt-2 button{
    height: 50px;
    width: 200px;
    object-fit:cover;
    margin-left: 220px;
    margin-top: 0px;
   
}*/



/*responsividad*/
/*
@media(max-width:991px){
    .max-width{
        padding: 0 50px;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: 0;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

}*/


/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content .portada{
        display: block;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
    .about .about-content .video{
      display: block;
    }
    .services{
      display: block;
      height: 500vh;
      min-height: 300px;
      flex-direction: column;
    }
}
